title {
  font-family: "shrikhand", cursive;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  margin: 0;
  color: #363636;
}

img {
  width: 100%;
  object-fit: cover;
}

i {
  padding-right: 1em;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  box-shadow: 0px 0px 7px #8d8d8d;
  position: relative;
}
header img {
  padding: 1rem;
  width: 45%;
}

.bloc-info > div {
  display: flex;
  justify-content: center;
}

.bloc-info__localisation {
  background-color: #cacaca;
  font-weight: 500;
  align-items: center;
  color: #363636;
  font-size: 0.8rem;
}
.bloc-info__localisation .map {
  font-size: 1rem;
}

.bloc-info__exploration {
  flex-direction: column;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  background-color: #eee;
  padding-bottom: 2rem;
  padding-top: 1rem;
}
.bloc-info__exploration a {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.btn {
  border: unset;
  padding: 0.8rem;
  background: linear-gradient(#9356dc, 50%, #ff79da);
  border-radius: 30px;
  color: #eee;
  font-weight: 500;
  font-size: 13px;
  box-shadow: 0px 4px 7px #8d8d8d;
}

.bloc-info__fonctionnement {
  flex-direction: column;
}
.bloc-info__fonctionnement h1 {
  margin-left: 10px;
}
.bloc-info__fonctionnement div {
  display: flex;
  background-color: #eee;
  align-items: center;
  margin-left: 30px;
  margin-right: 20px;
  border-radius: 10px;
  margin-bottom: 1.5rem;
}
.bloc-info__fonctionnement div:active:not(p) {
  background-color: #e3d4f7;
  color: #9356dc;
}
.bloc-info__fonctionnement div .num-rel {
  position: relative;
  border-radius: 30px;
  padding: 3px 0px 3px 6px;
  font-size: 10px;
  width: 12px;
  align-self: center;
  left: -10px;
  background-color: #9356dc;
  color: #eee;
}
.bloc-info__fonctionnement div .fa-mobile-alt,
.bloc-info__fonctionnement div .fa-list-ul,
.bloc-info__fonctionnement div .fa-store {
  color: #8f8e8e;
}

a {
  text-decoration: none;
  color: unset;
}
a img {
  max-height: 160px;
  border-radius: 10px 10px 0 0;
  margin-bottom: 0.5rem;
}

figure {
  background-color: white;
  border-radius: 10px;
  margin: 14px 20px 32px 20px;
  position: relative;
}

.restaurants {
  background-color: #eee;
  padding-bottom: 1rem;
}
.restaurants h1 {
  padding-top: 2rem;
  margin-left: 10px;
}

.new {
  background-color: #99e2d0;
  color: #528f80;
  width: min-content;
  padding: 4px 8px 4px 8px;
  border-radius: 3px;
  font-size: 10px;
  position: absolute;
  top: 4.5px;
  right: 18.617px;
}

figcaption {
  position: relative;
}
figcaption h2 {
  display: inherit;
  font-size: 1rem;
  padding-left: 10px;
  margin-bottom: 0.5rem;
}
figcaption p {
  font-size: 0.8rem;
  padding-left: 10px;
  padding-bottom: 10px;
  margin-top: 0.3rem;
  font-weight: 100;
}
figcaption .empty {
  font-size: 20px;
  position: absolute;
  top: 15.933px;
  right: 0px;
}
figcaption .full {
  display: none;
  color: #9356dc;
  font-size: 20px;
  position: absolute;
  top: 15.933px;
  right: 0px;
}

footer {
  background-color: #363636;
  padding-bottom: 1.5rem;
  padding-top: 1rem;
}
footer ul {
  list-style: none;
  margin: 0;
  padding-left: 20px;
}
footer ul li {
  color: #eee;
  padding-top: 5px;
  font-size: 13px;
}
footer .logo-text {
  font-family: "shrikhand";
  font-size: 18px;
}

/*# sourceMappingURL=style.css.map */
