#post {
  i {
    font-size: 1.5rem;
    transition-duration:20ms;
  }
  .full {
    @include icon-color;
    opacity: 0;
    transition-duration: 500ms;
    transition-timing-function: ease-in;
  }
  &:hover .empty {
    visibility: hidden;
  }
  &:hover .full {
    opacity: 1;
  }
}

figcaption div {
  .empty,
  .full {
    @include icon-position;
    font-size: 20px;
  }
}

.titre div {
  .empty {
    position: absolute;
  }
}
