.loader {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  z-index: -1000;
  opacity: 0;
  animation: item-load ease-in 3s;
  animation-fill-mode: backwards;
  .container {
    position: absolute;
    top: 50%;
    background: transparent;
    width: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    animation: loading-box 3s;
    animation-fill-mode: backwards;
  }
  .dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: $primary-color;
    animation: loader ease-in-out 3s;
    animation-fill-mode: both;
  }
  .dot-dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: $secondary-color;
    animation: loader ease-in-out 3s 200ms;
  }

  .dot-dot-dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: $tertiary-color;
    animation: loader ease-in-out 3s 400ms;
  }
}
.bloc-info > div {
  display: flex;
  justify-content: center;
}

.bloc-info__exploration {
  flex-direction: column;
  padding-left: 32px;
  padding-right: 32px;
  text-align: center;
  background-color: lighten($background-dark, 3);
  padding-bottom: 2rem;
  padding-top: 1rem;
  align-items: center;
  h1 {
    font-weight: 700;
    font-size: 1.3rem;
  }
  a {
    padding-bottom: 1rem;
    padding-top: 1rem;
  }

  p {
    margin-top: 0;
    font-weight: lighter;
  }
}

.bloc-info__fonctionnement {
  flex-direction: column;
  h1 {
    margin-left: 10px;
  }
  .fonctionnement {
    display: flex;
    background-color: $background-dark;
    @include shadow($shadow-color-hover);
    align-items: center;
    border-radius: 10px;
    margin: 0px 20px 20px 30px;
    padding: 7px 0 7px;
    &:hover {
      background-color: lighten($primary-color, 35);
      & > .secondary {
        color: $primary-color;
      }
    }
  }
  .num-rel {
    position: relative;
    border-radius: 30px;
    padding: 4px 0px 3px 6px;
    font-size: 10px;
    width: 12px;
    align-self: center;
    left: -10px;
    background-color: #9356dc;
    color: #eee;
  }
  .text {
    padding-left: 5%;
  }
}
.cartes {
  display: flex;
  flex-direction: column;
}
@media all and (min-width: 790px) {
  header {
    margin:0;
    padding:0 2rem;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    @include shadow($text-color);
    .logo {
      box-shadow: none;
    }
  }
  
  .header__localisation {
    background-color: transparent;
    width: 130px;
    justify-content: space-between;
  }
  .bloc-info__exploration {
    border-radius: 20px;
    margin: 50px;
  }
}
@media all and (min-width: 1024px) {
  .bloc-info__fonctionnement {
    flex-direction: row;
    margin: 0 50px;
    .fonctionnement {
      padding-left: 1rem;
      margin: 0 0 20px 30px;
    }
    .num-rel {
      font-size: 12px;
      width: 15px;
      left: -24px;
    }
    .text {
      padding-right: 5%;
      text-align: center;
    }
  }
  .cartes {
    flex-direction: row;
  }
}
