@mixin shadow($color: $shadow-color) {
  box-shadow: 0px 4px 8px $color;
}

@mixin img-ratio {
  width: 100%;
  object-fit: cover;
}

@mixin link {
  text-decoration: none;
  color: unset;
}

@mixin img-link-ratio {
  @include img-ratio;
  height: 160px;
  border-radius: 10px 10px 0 0;
  margin-bottom: 0.5rem;
}

@mixin btn-transition {
  transform: scale(1);
  opacity: 1;
  transition: transform 300ms;
 
}

@mixin icon-position {
  position: absolute;
  top: 15.933px;
  right: 0px;
}

@mixin icon-color {
  background:-webkit-linear-gradient(top, $primary-color 30%, $secondary-color 70%);
  -webkit-background-clip:text;
  color:transparent;
  
}
