$text-color:  #363636;
$background-dark: #eee;
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$bg-figure:white;
$linear-gradient:linear-gradient($secondary-color, 25%, $primary-color 100%);