header {
  display: flex;
  justify-content: center;
  flex-direction: column;

  img {
    padding: 1rem 0rem;
  }
  .logo{
    display: flex;
    position: relative;
    @include shadow($shadow-color-hover);
    justify-content: center;
  }
}
.header__localisation {
  display: flex;
  background-color: $background-dark;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  color: $text-color;
  p {
    font-size: 1rem;
    margin-left: 1%;
  }

  .map {
    font-size: 1rem;
  }
}
